<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.maijinta.yunsenlin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.UserManageActivity"/>
        <activity android:name=".view.activity.LoginActivity"/>
        <activity android:name=".view.activity.RegisterPhoneActivity"/>
        <activity android:name=".view.activity.RegisterCodeActivity"/>
        <activity android:name=".view.activity.RegisterPwdActivity"/>
        <activity android:name=".view.activity.CalculatorActivity"/>
        <activity android:name=".view.activity.PriceSettingActivity"/>
        <activity android:name=".view.activity.RecordActivity"/>
        <activity android:name=".view.activity.SearchActivity"/>
        <activity android:name=".view.activity.EvaluateActivity"/>

    </application>

</manifest>